.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.clear-fix::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix {
    clear: both;
    display: block;
}